<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>%%TITLE%%</title>
        <link rel="stylesheet" href="../../style/style.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
        <script src='https://cloud.tinymce.com/stable/tinymce.min.js'></script>
        <script>
            tinymce.init({
              selector: '.content',
              width: 450,
              height: 600
            });
            </script>
    </head>
    <body>
    <header>
        <ul>
            <li><a href="/auth/logoutAction">Logout</a></li>
        </ul>
    </header>
